<div class="homecontainer">
    <span class="protitle">
        VID-LOCKER
        <span class="subtitle">All your favorite youtube videos in one directory</span>
    </span>

    <div ng-if="videoList.length === 0 && folderList.length === 0" class="novideos">
        <div>
            <i class="material-icons" style="font-size: 3em;">face</i>
            <h1>Oops</h1>
            <span>You currently dont have any folders or videos set.</span>
        </div>
    </div>
    <div ng-if="videoList.length !== 0 || folderList.length !== 0" class="currpath">
        <i class="material-icons" style="float: left; cursor: pointer; padding: 1em;" ng-click="goBack()">chevron_left</i>
        <span style="float: left;">{{currPath}}</span>
    </div>
    <div ng-if="videoList.length !== 0 || folderList.length !== 0" class="videos">
        <div class="folder" ng-repeat="folder in folderList" ng-if="folder.parent === currentFolder" ng-click="openAFolder(folder.name)">
            <i class="material-icons" style="font-size: 3em; height: 60%;">folder</i>
            <hr>
            {{ folder.name }}
        </div>
        <div class="video" ng-repeat="vid in videoList" ng-if="vid.owner === currentFolder">
            <img src="{{ videoTN }}" style="height: 60%;"></img>
            <hr>
            {{ vid.name }}
        </div>
    </div>
    <div class="addvideo">
        <div class="input-group mb-3">
            <input type="text" placeholder="Video URL" aria-label="Video URL" ng-model="videoUrl" class="form-control">
            <input type="text" placeholder="What's it for?" aria-label="What's it for?" ng-model="videoName" class="form-control" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="button" id="button-addon2" ng-click="addAVideo(videoUrl, videoName)">Add a Video</button>
            </div>
        </div>
        <div class="input-group">
                <input type="text" placeholder="Enter Folder Name" class="form-control" ng-model="folderName" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" ng-click="addAFolder(folderName)">Add a Folder</button>
            </div>
        </div>
    </div>
</div>