.homecontainer {
    text-align: center;
}

.protitle {
    font-size: 2.5em;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 8px;
    cursor: default;
    color: #333;
    margin-bottom: 1em;

    transition: letter-spacing 0.5s;
}

.subtitle {
    font-size: 0.3em;
}

.protitle:hover {
    letter-spacing: 10px;
}

.novideos {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addvideo {
    width: 70%;
    margin: 0 auto;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    height: 50vh;
    overflow-y: auto;
}

.folder, .video {
    box-shadow: 0 0 2px grey;
    border-radius: 10px;
    width: 300px;
    height: max-content;
    justify-self: center;
    margin: 1em;
    cursor: pointer;
    text-align: center;
    padding: 1em;
}

.folder:hover, .video:hover {
    box-shadow: 0 0 5px grey;
}

.currpath {
    padding: 10px;
    color: grey;
    font-size: 1.2em;
    float: inline-end;
}
